<h1 class="desktop-12 mobile-3" style="margin-bottom: 20px;">{% if current_tags %}{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}{% else %}{{ blog.title }}{% endif %}</h1>
{% paginate blog.articles by 30 %}

<ul id="blog-articles" class="desktop-9 mobile-3">
  {% for article in blog.articles  %}
    <li>
        <div id="article-body">
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <p>Posted: {{ article.published_at | date: "%b %d %Y" }}</p>
            {{ article.content }}
        </div>
    </li>
  {% endfor %}
</ul>

  <div id="sidebar" class="desktop-3 mobile-3">
    <h3><a href="/blogs/news.atom" style="text-decoration: none"><i class="icon-rss"></i></a> Recent Articles</h3>
        <ul id="posts">
        {% for article in blog.articles  %}
        <li><a href="{{article.url}}">{{ article.title }}</a>
          <p>{{ article.published_at | date: "%b %d %Y" }}<p>
        </li>
        {% endfor %}
        <h3 style="margin: 20px 0">Categories</h3>
        {% for tag in blog.all_tags %}
        <li class="tags">
        <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a>
        </li>
        {% endfor %}
        </ul>
    </div>


  <div class="clear"></div>


	<div id="pagination" class="desktop-12 tablet-6 mobile-3">

      {% if paginate.previous %}
        {{ '<' | link_to: paginate.previous.url }}
      {% endif %}
      {% for part in paginate.parts %}
        {% if part.is_link %}
          {{ part.title | link_to: part.url }}
        {% else %}
          {% if part.title == '&hellip;' %}
          {{ part.title }}
          {% else %}
          <span class="current">{{ part.title }}</span>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if paginate.next %}
        {{ '>' | link_to: paginate.next.url }}
      {% endif %}
	</div>

{% endpaginate %}


